/***********Tree*********************/
tree {
  -moz-appearance: none !important;
  color: #aaaaab !important;
  background-color: alpha(#141416,0.9) !important;
  border: none !important;
}

treechildren::-moz-tree-row {
  border: none !important;
}
  
treechildren::-moz-tree-cell-text,
tree[seltype="text"] > treechildren::-moz-tree-cell-text,
tree[seltype="cell"] > treechildren::-moz-tree-cell-text {
  color: #aaaaab !important;
}

treechildren::-moz-tree-cell-text(hover),
treechildren::-moz-tree-cell-text(active),
treechildren::-moz-tree-cell-text(selected),
treechildren::-moz-tree-cell-text(selected, focus),
treechildren::-moz-tree-cell-text(hover, selected, focus),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus),
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected),
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  color: #e0e0e0 !important;
}
