/**************************** Mail Toolbars ***************************/
#mail-toolbox,
.mail-toolbox,
#chat-view-toolbox,
#ab-bar2,
#event-toolbar,
#composeToolbar2,
#unifinder-searchBox {
  background: #0F0F10 !important;
}

.toolbarbutton-1,
.toolbarbutton-1 .toolbarbutton-menubutton-dropmarker,
.toolbarbutton-1 .toolbarbutton-menubutton-button,
.toolbarbutton-1 .toolbarbutton-icon,
.toolbarbutton-1 .toolbarbutton-text,
.toolbarbutton-1 .toolbarbutton-badge-stack,
.toolbarbutton-1 .toolbarbutton-badge-container,
.toolbarbutton-1 .dropmarker-icon {
  color: #aaaaab !important;
  border: none !important;
}

.toolbarbutton-1:not([disabled]):-moz-any([open],[checked="true"],:hover),
.toolbarbutton-1 .toolbarbutton-menubutton-dropmarker:not([disabled]):-moz-any([open],[checked="true"],:hover),
.toolbarbutton-1 .toolbarbutton-menubutton-button:not([disabled]):-moz-any([open],[checked="true"],:hover) {
  background-color: #303031 !important;
  border: none !important;
  box-shadow: none !important;
  -moz-appearance: none !important;
}

.toolbarbutton-1:not([disabled]):-moz-any([open],[checked="true"],:hover) .toolbarbutton-icon,
.toolbarbutton-1:not([disabled]):-moz-any([open],[checked="true"],:hover) .toolbarbutton-text,
.toolbarbutton-1:not([disabled]):-moz-any([open],[checked="true"],:hover) .toolbarbutton-badge-stack,
.toolbarbutton-1:not([disabled]):-moz-any([open],[checked="true"],:hover) .toolbarbutton-badge-container,
.toolbarbutton-1:not([disabled]):-moz-any([open],[checked="true"],:hover) .dropmarker-icon {
  color: #e0e0e0 !important;
}

/***********Tree*********************/
tree {
  -moz-appearance: none !important;
  color: #aaaaab !important;
  background-color: alpha(#141416,0.9) !important;
  border: none !important;
}

treechildren::-moz-tree-row {
  border: none !important;
}
  
treechildren::-moz-tree-cell-text,
tree[seltype="text"] > treechildren::-moz-tree-cell-text,
tree[seltype="cell"] > treechildren::-moz-tree-cell-text {
  color: #aaaaab !important;
}

treechildren::-moz-tree-cell-text(hover),
treechildren::-moz-tree-cell-text(active),
treechildren::-moz-tree-cell-text(selected),
treechildren::-moz-tree-cell-text(selected, focus),
treechildren::-moz-tree-cell-text(hover, selected, focus),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected),
tree[seltype="text"] > treechildren::-moz-tree-cell-text(active, selected, focus),
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected),
tree[seltype="cell"] > treechildren::-moz-tree-cell-text(active, selected, focus) {
  color: #e0e0e0 !important;
}
